/* color palette */
#3399FF
#404756
#A4ABBD 




/* Nav */
/* .nav-scroller {
    position:relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
} */


/* download resume */
.btn {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover {
    background-color:cornflowerblue;
}
.download {
    
}

/*  */













